root = true

[*]
charset = utf-8
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true

[src/**.{css, sass, styl}]
indent_style = space
indent_size = 4

[src/**.{tsx, js}]
indent_style = space
indent_size = 2

[.{gitignore, eslintignore}]

[**.json]
indent_style = space
indent_size = 2

[README.md]
indent_style = tab
